<div>
  <div class="flex justify-center items-center">
    <div class="max-w-4xl text-center text-black px-6 pt-10 md:px-12">
      <h2 class="text-5xl font-bold tracking-tight leading-tight mb-12">
        <%= t('.see_you_profile')%> <br /><span
          ><%= t('.see_you_profile_part_2')%></span
        >
      </h2>
    </div>
  </div>
  <%= render "search" %>
  <%= render "user_data", user_data: @user_data  %>
</div>